.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.angular-app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;

  img {
    max-width: 700px;
    border-radius: 200px;
  }
}
